.menu {
	display: flex;
	flex-direction: row;
	align-self: flex-end;
	justify-content: space-between;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: lightsteelblue;
	padding-bottom: 0.5rem;
	overflow: hidden;
	height: 10vw;
}

.menuLinks {
	display: flex;
	flex-direction: row;
	margin-top: auto;
	margin-bottom: 0;
}

@media screen and (max-width: 767px) {
	.menuLinks {
		display: none;
	}
}

.menuLinks ul {
	display: flex;
	flex-direction: row;
	text-decoration: none;
	margin-top: auto;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 2rem;
	padding: 0;
}

.menuLinks li {
	display: flex;
	flex-direction: row;
	list-style: none;
	align-self: flex-end;
}

.menuLinks a {
	display: flex;
	text-decoration: none;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	font-size: 2.5rem;
	font-size: 2vw;
	color: black;
}

@media screen and (max-width: 1200px) {
	.menuLinks a {
		font-size: 2rem;
		font-size: 2.5vw;
	}
}

.menu h1 {
	margin: 0;
	padding: 1rem;
	font-size: 2rem;
	font-size: 5vw;
	color: black;
}
